* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}

body {
    background: #000;
    min-height: 200vh;
}

html {
    scroll-behavior:smooth;
}

/*Navbar CSS*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000000;
}

header .sticky {
    padding: 5px 100px;
    background-color: #fff;
}

nav .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header .sticky .logo,
header .sticky ul li a {
    color: #000;
}

.banner {
    position: relative;
    
}
/*CSS of Sections*/
#name {
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
}

#title {
    color: #fff;
    
}

#about {
    display: flex;
    align-items: center; 
}


#about img {
    float: left;
    border-radius: 50%;
}

#about p {
    color: #fff;
    padding: 5%;
}

#education {
    display: inline-block;
    margin: 2% 2%;
    color: #fff;
    line-height: 30px;
}

#education ul {
    list-style:none;
}

#welcome {
    height: 100vh; 
    width: 100%;
}

#title {
    padding-top: 50vh;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    width: 100%;
}

#experience {
    color: #fff;
    width: 100vh;
    margin: 2% 2%;
}

#edu_experience {
    display: flex;
}

#projects {
    color: #fff;
}

#projectGrid {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#projectOne {
    grid-row: 1;
    grid-column: 1;
}

#projectTwo {
    grid-row: 1;
    grid-column: 2;
}

#projectThree {
    grid-row: 1;
    grid-column: 3;
}

.projectImg {
    height: 200px;
    width: 200px;
    display:block;
    margin: 0 auto;
    
}

#projects h2 {
    grid-row: 1;
    grid-column: 2;
}

#contact {
    text-align: center;
    color: white;
}

footer {
    background-color: #fff;
}

footer .icons {
    display: inline-block;
    text-align: center;
}

.tableList {
    list-style: none;
}

/*Fade In Text CSS*/
.fade-in-text {
    display: inline-block;
    color: black;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }